body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
  padding: 30px;
}

.service {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
  background: #0070ba;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
