body {
font-family: Arial;
margin: 0;
padding: 0;
text-align: center;
background: #f5f5f5;
}

header {
background: black;
color: white;
padding: 30px;
}

select {
padding: 8px;
margin-top: 10px;
}

.plans {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
padding: 20px;
}

.card {
background: white;
padding: 20px;
width: 280px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
border-radius: 10px;
}

button {
background: black;
color: white;
padding: 10px 20px;
border: none;
cursor: pointer;
border-radius: 5px;
margin-top: 10px;
}

button:hover {
background: green;
}

ul {
list-style: none;
padding: 0;
}

footer {
background: black;
color: white;
padding: 20px;
margin-top: 20px;
}
